@font-face {
    font-family: "Roboto";
    src: url('Roboto-Regular.ttf');
 }
a:hover{
    text-decoration: none;
}
body div{
    font-family: 'Roboto';
}
body a{
    font-family: 'Roboto';
}
h{
    font-family: 'Roboto';
}
span{
    font-family: 'Roboto';
}
* {
    font-family: 'Roboto';
}
p{
    font-family: 'Roboto';
}
.container{
	padding: 0;
	margin: 0;
}
.container img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.header-page {
	width: 100%;
	position: absolute;
	background-color: #fff;
	left: 0;
	padding: 20px;
	line-height: 30px;
	text-align: center;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 700;
	border-top:2px solid #e42222;
	top: 55px;
	opacity: 0;
	display: none;
	box-shadow: 1px 1px 5px 1px grey;
	transition: 1s;

}
.header-page a:nth-child(1){
	font-size: 12px;
}
.lienhe-led:hover .header-page{
	opacity: 1;
	display: block;
	transition: 1s;
}
.header-left {
	padding: 10px 0;
	width: 95%;
}
.header-right {
	padding: 10px 0;
}
.header-left a{
	color: #dc3545!important;
	font-size: 0.9rem;
	border-right: 0.5px solid black;
	padding: 0 10px 0 0;
}
.header-left a:last-child {
	border: none;
}
.header-left a::after{

	content: "";
	font-size: 10px;
	height: 100%;
	width: 1px;
	background-color: black;
	color: black;
}
.footer {
	text-align: left;
	color: white;
	position: relative;
}
.footer span {
	font-size: 12px;
	transition: 2s;
}
.footer span:hover {
	margin-left: 20px;
	transition: 2s;
}
.footer span:nth-child(2){
	text-transform: uppercase;
	font-size: 14px;
}
.footer form .btn{
	width: 100%;
}
.box-chat {
	position: fixed;
	bottom: 55px;
	z-index: 998;
	transition: 2s;

}
.box-chat2{
	position: fixed;
	bottom: -275px;
	z-index: 998;
	transition: 2s;
}
.box-bottom {
	background-color: #e42222;
	padding: 15px 0;
	text-transform: uppercase;
	color: white;
	position: fixed;
	bottom: 0px;
	z-index: 999;
	/*display: ;*/
}
.box-bottom a{
	color: white;

}
.lienhe {
	padding: 10px;
	margin-left: 20px;
	width: 350px;
	height: 400px;
	background-color: black;
	border-radius : 10px;
	color: white;
	position: relative;
	z-index: 998;
	/*bottom: 55px;*/
}
.lienhe .btn{
	width: 100%;
	background-color: #e42222;
}
.lienhe .icon {
	position: absolute;
	right: 15px;
	top: 0px;
	font-size: 20px;
}
.silde-home {
	height: 300px !important;
	margin-bottom: 30px;
	overflow: hidden;
}
.slide-home img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.select-home {
	width: 200px !important;
	height: 50px;
}
.ss2{
	overflow: hidden;
	height: 150px !important;
}
.ss2 a:nth-child(1){
	font-size: 18px;
	text-transform: capitalize;
	font-weight: 700;
}
.ss2 a:nth-child(2){
	font-size: 15px;
}
.ss2 img{
	height: 150px;
	width: 150px;
	object-fit: cover;
}
.ss2-right {
	width: 100%;
	height: 100%;
}
.slide-2 {
	position: relative;
}
.slide-2 .owl-nav{
	font-size: 45px;
}
.slide-2 .owl-prev {
	position: absolute;
	left: -25px;
    top: 60px;
}
.slide-2 .owl-next {
	position: absolute;
	right: -25px;
    top: 60px;
}
.section-3 {
    margin-bottom: 25px;
}
.item-ss3 {
    box-shadow: 1px 5px 10px 0px black;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
}
.section-3 .col-md-3 {
    /* padding: 0; */
}
.ss3-right {
    /* height: 100%; */
    background-color: #dc3545;
    display: flex;
    flex-direction: column;
}
.ss3-right .form-control {
    width: 50%;
}
.ss3-right div{
    margin-top: 10px;
}
.ss3-right .btn {
    width: 20%;
}
.section-4 {
    background-color: aliceblue;
    padding : 30px 0;
}

.item {
    padding: 10px;
    border : 0.5px solid black;
    border-radius: 2px ;
    box-shadow: 1px 5px 10px 0px black;
}
.section-4 .col-md-3{
    padding: 5px;
}
.item-img {
    width: 100% !important;
    height: 200px !important;
}
.item .ss4-title {
    color: red;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    padding: 10px 0;
    margin : 10px 0;
    border-bottom: 1px double black;
}
.item .tag {
    font-size: 12px;
}
.item .tag a::after {
    content : "/";
    margin-left: 2px;
}
.ss5-coment {
    padding: 10px;
    background-color: #dc3545;
    color: white;
    font-size: 16px;
    font-style: italic;
    position: relative;
}

.ss5-coment::after{
    content : "";
    content: "";
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #dc3545;
    position: absolute;
    bottom: -20px;
    left: 20px;
}
.user-coment img {
    width: 100px !important;
    height: 100px !important;
}
.coment .item {
    border : none;
}
.user-coment {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
}
.vidu .item {
    border : none;
    padding: 0;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vidu .item img{
    width: 100%;
}
.vidu .item a {
    height: 90px;
    overflow: hidden;
    margin-top: 10px;
    font-size: 15px;
    text-align: left;
}
.section-6 {
    margin : 20px 0;
    text-align: center;
}
.section-6 .owl-theme .owl-nav
 {
     font-size: 40px;
     position: relative;
     top: -170px;
 }
 .section-6 .owl-theme .owl-nav:hover {
     background-color: red;
 }
 .section-6 .owl-theme .owl-nav .owl-prev {
     left: -30px;
     position: absolute;
     width: 30px;

 }
 .section-6 .owl-theme .owl-nav .owl-next {
    right: -30px;
    position: absolute;
    width: 30px;
 }
